<nav>
  <ul id="dynamic-nav">
    <li><a href="/" title="Home page">Home</a></li>
    <li><a href="/inv/type/Custom" title="Custom vehicles">Custom</a></li>
    <li><a href="/inv/type/Sedan" title="Sedan vehicles">Sedan</a></li>
    <li><a href="/inv/type/SUV" title="SUV vehicles">SUV</a></li>
    <li><a href="/inv/type/Truck" title="Truck vehicles">Truck</a></li>
  </ul>
</nav>